body{
    background-image: url(img/fon.png);
    scroll-behavior: smooth;
}
.move-top {
    position: fixed;
    right: 50px;
    bottom: 70px;
    background-color:black;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding-top: 25px;
    padding-left: 15px;
    color: yellow;
    font-weight: 900;
    box-shadow: 0 0 10px yellow;
    
}
h1,h2,h3,h4,h5,h6,p{
    color: yellow;
}
.pos{
   padding-bottom: 40px;
    border: 2px solid yellow;
}
.row{
    padding-top: 20px;
}
.col-md-3{
    border: 2px solid yellow; 
}
.s{
   padding-bottom: 40px;
   padding-top: 20px;
   
}
.im{
    width: 100%;
   padding-top: 10px;
}
.bio{
    padding-top: 40px;
}
footer{
     opacity: 0.7;
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
}
@media only screen and (min-width: 992px) {
    .carousel-item{
        max-height:660px;
 
    } 
} 
.my-anim-bottom {
    transform: translateY(80%);
    opacity: 0;
    transition: 1s .3s;
}
.activ-anim-bottom {
    transform: translateY(0);
    opacity: 1;
}
.v{
    background-color: black;
    opacity: 0.7;
}