.carousel .carousel-item{
    height: 550px;
    }
    body{
        background-color: black;
    }
    p{
        color: blanchedalmond;
    }
    h4{
        color: floralwhite;
        font-family: fantasy;
    }
.b{

}